<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="data" (ngSubmit)="submitForm(data)">
    <br>
    <h4 text-center>Change your password</h4>
    <ion-list>

      <ion-item>
        <ion-input type="password" formControlName="oldPassword" value="" placeholder="Old password"></ion-input>
      </ion-item>
      <ion-item *ngIf="data.controls.oldPassword.invalid && data.controls.oldPassword.dirty" no-lines>
        <p class="invalid">Password Required</p>
      </ion-item>

      <ion-item>
        <ion-input type="password" formControlName="newPassword" value="" placeholder="New password"></ion-input>
      </ion-item>
      <ion-item *ngIf="data.controls.newPassword.invalid && data.controls.newPassword.dirty" no-lines>
        <p class="invalid">Password Required</p>
      </ion-item>

      
      <ion-item>
        <ion-input type="password" formControlName="confirmPassword" value="" placeholder="Confirm password"></ion-input>
      </ion-item>
      <ion-item *ngIf="data.controls.confirmPassword.invalid && data.controls.confirmPassword.dirty" no-lines>
        <p class="invalid">Password Required</p>
      </ion-item>
      <p>
        <button ion-button full color="secondary" [disabled]="data.invalid">Enter</button>
      </p>

    </ion-list>
    
  </form>
</ion-content>
