page-profile {

    
    .y-4-profile{
        font-size: 150%;

        ion-item h2{
            color: #008751;
            font-size: 120%;    
        }
        ion-item ion-icon{
            color: #008751;
            font-size: 120%;    
        }
        padding: 1em;
    

    }
    
    .y-profile-img-holder{
        font-size: 200%;
        color: #008751;

    }
    .y-icon-image{
        text-align: center;
        font-size: 4em;
        width: 100%;
        margin: 2px auto;

    }


}
