page-home {
    .y-card{
        padding: 1em;
        text-align: center;
        height: 40%;
        background-color: #fff;
    }
    .y-card-title{
        padding: 1em;
        text-align: center;
        color: #008751;
        font-size: 1.2em;
    }
    .y-card:last-child{
        background-color: #E4F7EC;
    }
    .y-nav-sub{
       
    }
}
