page-notification {
    .y-notification-page{
        background-color: #41D596;
    }
    .y-notification-page a.tab-button{
        background-color: #41D596;
        color: #fff;
        border: 1px solid #fff;

    }

}
