<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="y-form" padding>
  <p text-center>  <img src="../../assets/imgs/logo-small.png" alt="logo of ipt" /></p>

  <h4 text-center>Reset Password</h4>
  <ion-list>
      <form [formGroup]="data" (ngSubmit)="submitForm(data)">

        <ion-item>
          <ion-label > <ion-icon name="lock"></ion-icon> </ion-label>
          <ion-input type="text" formControlName="passwordResetCode" placeholder="Enter the password reset code" value=""></ion-input>
        </ion-item>
        <ion-item *ngIf="data.controls.passwordResetCode.invalid && data.controls.passwordResetCode.dirty" no-lines>
          <p class="invalid">Password Required</p>
        </ion-item>

        <ion-item>
          <ion-label > <ion-icon name="lock"></ion-icon> </ion-label>
          <ion-input type="password" formControlName="newPassword" placeholder="Enter new password" value=""></ion-input>
        </ion-item>
        <ion-item *ngIf="data.controls.newPassword.invalid && data.controls.newPassword.dirty" no-lines>
          <p class="invalid">Password Required</p>
        </ion-item>


        <ion-item>
          <ion-label > <ion-icon name="lock"></ion-icon> </ion-label>
          <ion-input type="password" formControlName="confirmPassword" placeholder="Confirm password" value=""></ion-input>
        </ion-item>
        <ion-item *ngIf="data.controls.confirmPassword.invalid && data.controls.confirmPassword.dirty" no-lines>
          <p class="invalid">Password Required</p>
        </ion-item>

        <p><button ion-button full color="secondary" [navPush]="" >Enter</button></p>
        <br><p text-center [navPush]="signinPage">Sign in</p>

   </form>
  </ion-list>
</ion-content>
