page-outlet-received {
    .y-card{
        
        text-align: center;
    }
    .y-card .y-card-title{
        color: #008751;
        
    }
    .y-card ion-card-content p{
        color: #008751;
        font-size: 1.6em;
        font-weight: bold;
        
    }


}
